
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Hides content*/
.hiddenform {
    display: none;
}

/*Displays Content*/
.unhiddenform {
    display: block;
}




@media only screen and ( max-width: 575px ){
    #map {
        height: 500px;
    }
}


@media only screen and ( min-width: 576px ) {
    #map {
        height: 100%;
        width: 100%;
    }
}

.room {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #292b2c;
    color: white;
}

.btns {
    background-color: #00359F;
    color: white;
}

a{
    color: #00359F;
}