@{
    ViewData["Title"] = "Home";
    


}
<head>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
</head>

<style>
   
    body, html {
        background-image: url(/images/Homepagemap.jpg);
       
        background-size: cover !important;
        background-repeat: no-repeat;
        height: 100%;
        background-position: center;
      
    }

    form#homebutton {
        margin: 0 auto 0;
        text-align: center;
        
    
    }

    #homebutton button {
        margin: 0 auto;
        background-color: #f7b423;
        
    }

    h1 {
        color: white;
        font-family: 'Archivo Black', sans-serif;
        margin-right: 15%;
        margin-left: 25%;
        text-align: center;
        font-size: 290%;
    }
    #driverlogin{
        color: white;
    }


    .removepadding {
        background-color: rgba(0,0,0,0.3);
        padding: 5%;
        
        
    }
  

</style>






        <form asp-controller="RideRequest" asp-action="AddRequest" id="homebutton" style="opacity:1;  padding: 10%;">
            <h1> Explore Waterville with the <br /> COLBY JITNEY</h1>
            <br />
            <br />
            <button class="btn btn-primary btn-lg"> Request A Ride </button>
            <br />
            <a id="driverlogin" asp-area="" asp-controller="RideRequest" asp-action="Index" >Driver Login</a>
        </form>
    

      
<script>
    $('.container-fluid').addClass('removepadding');
</script>
    


    

  

            
            