@{
    ViewData["Title"] = "Home";
    


}
<style>
    body, html {
        background-image: url(/images/Homepagemap.jpg);
        background-size: cover !important;
        background-repeat: no-repeat;
        height:100%;
        background-position: center;
    }

    form#homebutton {
        margin: 10% auto 0;
        text-align: center;
        
    
    }

    #homebutton button {
        margin: 0 auto;
        background-color: #00359F;
    }

    h1 {
        text-shadow: 1px 1px #b8b8b8;
        color: #ffffff;
        margin: 5%;
        text-align: center;
    }
    #driverlogin{
        color: black;
    }
        

</style>






        <form asp-controller="RideRequest" asp-action="AddRequest" id="homebutton">
            <h1> Explore Waterville with the <br /> COLBY JITNEY</h1>
            <button class="btn btn-primary btn-lg"> Request A Ride </button>
            <br />
            <a id="driverlogin" asp-area="" asp-controller="RideRequest" asp-action="Index">Driver Login</a>
        </form>
    

      
    


    

  

            
            