
<style>

    #map{
        height: 700px;
        width: 100%;
    }
</style>
<h1> Next Rider Map</h1>
<button asp-controller="RideRequest" asp-action="Index"> Arrived </button>
<input type="text" value="@ViewData["driverlat"]" id="driverLat" />
<input type="text" value="@ViewData["driverlong"]" id="driverLong" />
<input type="text" value="@ViewData["riderorglat"]" id="riderLat" />
<input type="text" value="@ViewData["riderorglong"]" id="riderLong" />
<hr />



<div id='map' style='width: 400px; height: 300px;'></div>
<script>
    var waterville = { lat: 44.5520, lng: -69.6317 };

    var riderlat = parseFloat(document.getElementById('riderLat'));
    var riderlong = parseFloat(document.getElementById('riderLong'));
    var riderloc = { lat: riderlat, lng: riderlong };
    var driverlat = parseFloat(document.getElementById('driverLat'));
    var driverlong = parseFloat(document.getElementById('driverLong'));
    var driverloc = { lat: driverlat, lng: driverlong };

    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRhbmN5OTUiLCJhIjoiY2o5ZXc2bmV5MmR6OTMyczRhdGJlNThuYSJ9.ikMDfZ-Z4i-y__AfEiHqow';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10'
    });
</script>



